body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right,rgba(43, 161, 240, 0.959),rgba(173, 228, 176, 0.678));
}
.content{
    background-color: white;
    width: 400px;
    height: 200px;
    margin: 190PX auto;
    border-radius: 20PX;
    display: flex;
    justify-content: center;
}
.TEXT{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40PX;
}